
:root{
    /* font-size  */
    --fs-75:75px;
    --fs-45:45px;

    /* color  */
    --color-dodgerblue: DodgerBlue;
    --color-2b35:#2b353e;
}
@media (max-width:768px) {
    :root{
        --fs-75: 55px;
        --fs-45: 40px;
    }
}